/.editor_settings
/.internal
/.vscode
/.idea

/build
Thumbs.db
MSVCRT.lib
.DS_Store

debug.keystore
debug.keystore.pass.txt
manifest.private.der
manifest.public.der

LICENSE
README.md
OPlusSans3-Regular.ttf