*.script linguist-language=Lua
*.render_script linguist-language=Lua
game.project linguist-language=editor-config

ext.manifest linguist-language=YAML
*.script_api linguist-language=YAML
*.appmanifest linguist-language=YAML

*.go linguist-language=text proto
*.font linguist-language=text proto
*.atlas linguist-language=text proto
*.render linguist-language=text proto
*.gamepads linguist-language=text proto
*.material linguist-language=text proto
*.collection linguist-language=text proto
*.input_binding linguist-language=text proto
*.texture_profiles linguist-language=text proto

AcArf3/include/bitsery/** linguist-vendored
AcArf3/include/ease_constants.h linguist-generated
AcAudio/src/miniaudio.cpp linguist-vendored
AcAudio/src/miniaudio.mm linguist-vendored
AcAudio/src/opusfile/** linguist-vendored
AcAudio/include/** linguist-vendored
AcClipboard/** linguist-vendored

System/Ar.render_script linguist-vendored
Reference/lbase64.lua linguist-vendored
